@using FamilyKitchen.Web.ViewModels.SubCategories;
@model DetailsSubCategoryViewModel
@{
    ViewData["Title"] = "Details";
}

@if (Model.Toggler)
{
    <vc:nav-bar></vc:nav-bar>
}
else
{
    <vc:nav-bar-meals></vc:nav-bar-meals>
}

<partial name="~/Views/Shared/Partials/_NavBarSubCategoriesPartial.cshtml" model="@Model" />

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <partial name="~/Views/Shared/Partials/_ProductsSelectionPartial.cshtml" model="@Model.SubCategory" />
        </div>
    </div>
</section>
