@using FamilyKitchen.Web.ViewModels.ShoppingCarts
@model ListAllCartProductsViewModel
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <div class="row no-gutters slider-text align-items-left justify-content-left">
            <div class="col-md-9 text-left">
                <p class="breadcrumbs"><span class="mr-2"><a asp-controller="ShoppingCarts" asp-action="DeleteCart">Empty Cart<span><i class="ion-ios-basket"></i></span></a></span></p>
            </div>
        </div>
    </div>
    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>Product name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.CartProducts)
                                {
                                    <tr class="text-center">
                                        <td class="product-remove"><a asp-controller="ShoppingCarts" asp-action="DeleteCartProduct" asp-route-id="@product.Details.Id"><span class="ion-ios-close"></span></a></td>
                                        <td class="image-prod">
                                            @if (product.Details.RecipeIsPrivate == true)
                                            {
                                                <img class="img-fluid" src="~/images/image_3.jpg" alt=@product.Details.Name>
                                            }
                                            else
                                            {
                                                <img class="img-fluid" src=@product.Details.ImageUrl alt=@product.Details.Name>
                                            }
                                        </td>

                                        <td class="product-name">
                                            <h3>@product.Details.Name</h3>
                                            <p>Far far away, behind the word mountains, far from the countries</p>
                                        </td>

                                        <td class="price">$@product.Details.SalePrice</td>

                                        <td class="quantity">
                                            <div class="input-group mb-3">
                                                <input type="text" name="quantity" class="quantity form-control input-number" value="@product.Quantity" min="1" max="100">
                                            </div>
                                        </td>

                                        <td class="total">$@product.CartProductTotal</td>
                                    </tr><!-- END TR-->
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <form id="cartFormToken" method="post"></form>
            <div class="row justify-content-end">
                <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                    <div class="cart-total mb-3">
                        <h3>Voucher Code</h3>
                        <p>Enter your voucher code if you have one</p>
                        <form action="#" class="info">
                            <div class="form-group">
                                <label for="">Voucher code</label>
                                <input type="text" class="form-control text-left px-3" value="" id="codeInput" placeholder="Eight digits code...">
                            </div>
                        </form>
                    </div>
                    <p><a class="btn btn-primary py-3 px-4" id="codeBtn" onclick="sendCode()">Apply Coupon</a></p>
                </div>
                <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                    <div class="cart-total mb-3">
                        <h3>Estimate shipping and tax</h3>
                        <p>Enter your destination to get a shipping estimate</p>
                        <form action="#" class="info">
                            <div class="form-group">
                                <label for="">City</label>
                                <input type="text" class="form-control text-left px-3" id="cityDel" value="Sofia" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="country">Block</label>
                                <input type="text" class="form-control text-left px-3" id="blockDel" placeholder="The block of delivery...">
                            </div>
                        </form>
                    </div>
                    <p><a class="btn btn-primary py-3 px-4" id="cityBtn" onclick="sendCity()">Estimate</a></p>
                </div>
                <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                    <vc:cart-total></vc:cart-total>

                    <p><a class="btn btn-primary py-3 px-4" asp-controller="Orders" asp-action="Index">Proceed to Checkout</a></p>
                </div>
            </div>
        </div>
    </section>

</body>
</html>

@section Scripts {
    <script>
        function sendCode() {
            let token = $("#cartFormToken input[name=__RequestVerificationToken]").val();
            let numberCode = $("#codeInput").val();
            let json = { numberCode };

            $.ajax({
                url: "/voucher",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (model) {
                    $("#codeInput").val(model.Message);
                }
            });
        }

        function sendCity() {
            let token = $("#cartFormToken input[name=__RequestVerificationToken]").val();
            let block = $("#blockDel").val();
            let city = $("#cityDel").val();
            let json = { city,block };
            $.ajax({
                url: "/shippingTax",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (model) {
                    $("#blockDel").val("We've got it!");
                    $("#subtotalSC").html(model.Subtotal);
                    $("#deliverySC").html(model.DeliveryPrice);
                    $("#discountSC").html(model.Discount);
                    $("#totalSC").html(model.Total);
                }
            });
        }
    </script>
}