@using FamilyKitchen.Web.ViewModels.ShoppingCarts
@model CartTotalViewModel
@{
    ViewData["Title"] = "Default";
}

<div class="cart-total mb-3">
    <h3>Cart Totals</h3>
    <p class="d-flex">
        <span>Subtotal</span>
        <span>$@Model.Subtotal</span>
    </p>
    <p class="d-flex">
        <span>Delivery</span>
        <span>$@Model.DeliveryPrice</span>
    </p>
    <p class="d-flex">
        <span>Discount</span>
        <span>$@Model.Discount</span>
    </p>
    <hr>
    <p class="d-flex total-price">
        <span>Total</span>
        <span>$@Model.Total</span>
    </p>
</div>
