@using FamilyKitchen.Web.ViewModels.ShoppingCarts
@model CartTotalViewModel
@{
    ViewData["Title"] = "Default";
}

<div class="cart-total mb-3">
    <h3>Cart Totals</h3>
    <p class="d-flex">
        <span>Subtotal</span>
        <span id="subtotalSC">$@Model.Subtotal</span>
    </p>
    <p class="d-flex">
        <span>Delivery</span>
        <span id="deliverySC">$@Model.DeliveryPrice</span>
    </p>
    <p class="d-flex" is>
        <span>Discount</span>
        <span id="discountSC">$@Model.Discount</span>
    </p>
    <hr>
    <p class="d-flex total-price">
        <span>Total</span>
        <span id="totalSC">$@Model.Total</span>
    </p>
</div>
