@using FamilyKitchen.Web.ViewModels.SubCategories;
@model ListAllSubCategoriesViewModel
@{
    ViewData["Title"] = "Details";
}

<vc:nav-bar></vc:nav-bar>
<partial name="~/Views/Partials/_NavBarSubCategoriesPartial.cshtml" model="@Model" />
<section class="ftco-section">
    <div class="container">
        <div class="row">
            @foreach (var category in @Model.SubCategories)
            {
                <partial name="~/Views/Partials/_ProductsSelectionPartial.cshtml" model="@category" />
            }
        </div>
    </div>
</section>
