@using FamilyKitchen.Web.ViewModels.ShopProducts;
@model ListAllProductsViewModel

<vc:nav-bar></vc:nav-bar>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <partial name="~/Views/Partials/_ProductsSelectionPartial.cshtml" model="@Model" />
        </div>

    </div>
</section>

